:host {
    display: flex;
    height: 100vh;
    min-height: 100vh;
}

/* svg-icon { width: 50vw; height: 50vh; margin: auto; padding-top: 25vh; padding-bottom: 25vh; padding-left: 25%; padding-right: 25%} */
object { display: flex; margin: auto; position: relative; height: 90%; padding-left: 25%; padding-right: 25%; padding-top: 10%}


.outer-rectangle { position:relative; top:0; left:0; height:100%; width:100% }
