:host {
    display: flex;
    height: 100vh;
    min-height: 100vh;
}

.side-divider {
    height: 100%;
    width: 90%;
    margin-left: 10%;

    display: grid;
    grid-template-columns: repeat(2, 40vw);
    align-content: center;
}

.input-box {
    border-style: solid;

    align-content: center;

    text-align: center;

    background-color: rgb(248, 240, 240);
    /* color: tomato; */
}

.animation-box {
    border-style: solid;
    align-content: center;
    /*background-color: rgb(21, 20, 21)*/
}