<div class="add-book-form">

  <!-- TODO: Break out into book entry form maybe? --> 
  <form (ngSubmit)="verifyAndAdd()">
    <label>
      Work title: <input id="title" type="text" [(ngModel)]="book.title" name="title"/>
    </label><br />
    <label>
      Author: <input id="author" type="text" [(ngModel)]="book.author" name="author"/>
    </label><br />
    
    <div ng-if='error==null || .length > 0'>
        <label>Error and/or Response Message: {{error}}</label><br />
    </div>
    <button type="submit">Add book to {{library.name}}</button>    
  </form>
</div>
